// done by riverco.de
@import 'helpers/index';
@import 'generated/sprite-svg';
@import 'generated/index';
@import 'base/index';
@import 'lib/index';
@import 'common';
@import 'components/index';
@import 'pages/index';


.button-circle {
  width: 100px;
  height: 100px;
  color: $white;
  font: 300 16px/1 $futura;
  letter-spacing: -1px;
  text-transform: uppercase;
  .icon {    
    position: absolute;
    z-index: 1;
  }  
  &.play {
    .icon {
      width: 17px;
      height: 18px;
      fill: $red;      
      top: 50%;
      left: 50%;
      transform: translate(-40%, -50%);    
    }    
  }
  &.close {
    .icon {
      width: 16px;
      height: 16px;
      fill: $red;      
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);    
    }    
  }
  &.more {
    color: $red;    
  }
  &.drag {
    .icon {
      width: 58px;  
      height: 24px;    
      fill: $red;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);    
    }    
    i {
      background-color: $white;      
    }
  }
  i {    
    display: block;
    width: 100px;
    height: 100px;
    background-color: $red;
    border-radius: 50%;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);    
  }
  &:hover {
    .icon {
      fill: #fff;
    }
    &::after {      
      transform: translate(-50%, -50%) scale(1);      
    }
    &.drag {
      .icon {
        fill: $red;
      }
    }
  }
  .text,
  .hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: center;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    animation: buttonText 15s infinite linear;
    .top {
      div {
        transform-origin: 0 100%;
        position: absolute!important;
        bottom: 50%;
        left: 50%;        
        width: 12px;
        text-align: center;
      }    
    }    
    .bot {
      div {
        transform-origin: 0 100%;
        position: absolute!important;
        bottom: 50%;
        left: 50%;        
        width: 12px;
        text-align: center;     
      }    
    }    
  }
  .hover {
    opacity: 0;
  }

  &.drag {
    &:active {
      .text {
        opacity: 0;
      }
      .hover {
        opacity: 1;
      }
    }
  }
}

@keyframes buttonText {
  from {transform: rotate(0deg);}  
  to {transform: rotate(360deg);}
}


.swiper-wrapper {
  transition-timing-function: cubic-bezier(0.74, 0.04, 0.32, 1.02);
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  .blind-left {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 49%;
    background-color: $white;
    transform: skewX(-35deg);
  }
  .blind-right {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 49%;
    background-color: $white;
    transform: skewX(-35deg);
  }
  #m1,
  #m2 {
    visibility: hidden;
  }
  .progress {
    z-index: 1;
    font: 16px/1 $futura;
    color: $black;
  }
}