---
title: Agents
class: agents h-green
---

{% extends "layouts/_layout.html" %} {% block content %}

<div class="cursor">
	<span></span>
	<i class="circle"></i>
	<i class="play"></i>
	<i class="pause"></i>	
</div>


	<!-- LOADER -->
	<div class="loader">
		<div class="loader-logo">
			<svg version="1.1" id="loader-logo" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="240px" height="240px" viewBox="0 0 240 240" style="enable-background:new 0 0 240 240;" xml:space="preserve">			
				<path class="h" d="M141,110.2c10.9,13.4,32.5,35,39,43.1l-7.9-2.5L141,110.2z"/>
				<path class="m" d="M180,153.3c0,0-2-1.9-3.8-3.9h-8.7L60,150.7L180,153.3z"/>				
			</svg>
			<div class="brand">avialiga</div>
		</div>			
		<div class="blind-left"></div>
		<div class="blind-right"></div>
	</div>
	<!-- /LOADER -->


<article class="agents__hero">
  <div class="breadcrumb">
    <a href="">MAIN</a>    
    <span>AGENTS</span>
  </div>
  <h1>
    <span>Hello agent!</span>
  </h1>
  <div class="agents__hero_text">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    <p>ype and scrambled it to make a type specimen book.</p>
  </div>
  <form action="">
    <div class="agents__hero_form">
      <div class="form-control">
        <input type="text" placeholder="E-mail">
      </div>
      <div class="form-control">
        <input type="password" placeholder="Password">
      </div>
      <div class="submit">
        <button class="btn-skew">
          <div class="background"><i></i></div>
          <span>SIGN IN</span>
        </button>
      </div>
      <div class="forgot">
        <a class="link-hover-reverse" href="">Forgot Passwords</a>
      </div>
    </div>
  </form>
</article>

<article class="agents__values">
  <h2>Cooperation values</h2>
  <ul>
    <li>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      <p>ype and scrambled it to make a type specimen book. </p>      
      <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>      
      </li>
    <li>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      <p>ype and scrambled it to make a type specimen book. </p>      
      <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </li>
  </ul>
</article>

<article class="expert__form">
  <div class="expert__form_title">
    <h2>
      <span>Become our agent</span>
    </h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </div>
  <div class="expert__form_body">
    <form action="">
      <div class="form">
        <div class="form-control name">
          <input type="text" placeholder="Your Name">
        </div>
        <div class="form-control phone">
          <input type="text" placeholder="Your Phone">
        </div>
        <div class="form-control comment">
          <textarea name="" placeholder="Your comment"></textarea>
        </div>
      </div>
      <div class="form--submit">
        <button class="btn-skew">
          <div class="background"><i></i></div>
          <span>Submit</span>						
        </button>
      </div>
    </form>
  </div>
</article>

<article class="agents__subscribe">
  <h2>Subscribe</h2>
  <form action="">
    <div class="agents__subscribe_form">
      <div class="form-control">
        <input type="email" placeholder="Your mail">
      </div>
      <div class="submit">
        <button class="btn-skew">
          <div class="background"><i></i></div>
          <span>Submit</span>
        </button>
      </div>
    </div>
  </form>
</article>

{% endblock %}
