---
title: Index page,
class: card hotel h-white
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="cursor">
	<span></span>
	<i class="circle"></i>
	<i class="play"></i>
	<i class="pause"></i>	
</div>


	<!-- LOADER -->
	<div class="loader">
		<div class="loader-logo">
			<svg version="1.1" id="loader-logo" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="240px" height="240px" viewBox="0 0 240 240" style="enable-background:new 0 0 240 240;" xml:space="preserve">			
				<path class="h" d="M141,110.2c10.9,13.4,32.5,35,39,43.1l-7.9-2.5L141,110.2z"/>
				<path class="m" d="M180,153.3c0,0-2-1.9-3.8-3.9h-8.7L60,150.7L180,153.3z"/>				
			</svg>
			<div class="brand">avialiga</div>
		</div>			
		<div class="blind-left"></div>
		<div class="blind-right"></div>
	</div>
	<!-- /LOADER -->


		<article class="single-slider card__hero">
		<div class="breadcrumb">
			<a href="">MAIN</a>
			<a href="">ALL HOTELS</a>
			<span>NAME HOTEL 5*</span>
		</div>
		<a href="" class="btn-skew card__heroe_link">
			<div class="background"><i></i></div>
			<span>BOOK A hotel</span>
		</a>
		<!-- Slider main container -->
		<div class="swiper-container">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
					<!-- Slides -->
					{% set singleSlider = [
						{
							title: "MAVRITIUS. Port Louiss",							
							src: "./img/maldives.jpg"
						},
						{
							title: "SEYCHELLES Grand Anse",
							src: "./img/seychelles.jpg"
						},
						{
							title: "MAURITIUS Thinadhoo",
							src: "./img/mauritius.jpg"
						}
					] %}
					{% for i in singleSlider %}
					<div class="swiper-slide">
						<div class="slide--photo">
							<img data-src="{{i.src}}" alt="">
						</div>
						<!-- <div class="photo--mask"></div> -->
						<div class="slide--content">
							<h2>{{i.title}}</h2>
							<div class="slide--text">Name Hotel 5*</div>							
						</div>
					</div>
					{% endfor %}
			</div>
			<div class="slider-button-prev">
				{{mixins.icon('icon_arrow_menu')}}
				<i></i>
			</div>
			<div class="slider-button-next">
				{{mixins.icon('icon_arrow_menu')}}
				<i></i>
			</div>
			<div class="slider-control">				
				<div class="slider-pagination"></div>				
			</div>
		</div>		
	</article>

	

	<article class="card__includes">
		<h2>
			<span>This HOTEL includes</span>
		</h2>
		<ul class="hotel__includes_list">
			<li>
				{{mixins.icon('icon_card_02')}}
				<span>Расположение: ужины</span>
			</li>
			<li>
				{{mixins.icon('icon_card_02')}}
				<span>Концепция отеля</span>
			</li>
			<li>
				{{mixins.icon('icon_card_02')}}
				<span>Расстояние до ближайшего аэропорта:</span>
			</li>
			<li>
				{{mixins.icon('icon_card_02')}}
				<span>Количество номеров</span>
			</li>
		</ul>		
	</article>

	<article class="single-slider product__features">
		<h2>TOP FEATURES</h2>
		<!-- Slider main container -->
		<div class="swiper-container">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
					<!-- Slides -->
					{% set singleSlider = [
						{
							number: 1,
							title: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
							when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
							src: "./img/got-1.jpg"
						},
						{
							number: 2,
							title: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
							when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
							src: "./img/got-2.jpg"
						},
						{
							number: 3,
							title: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
							when an unknown printer took a galley of type and scrambled it to make a type specimen book. ",
							src: "./img/got-3.jpg"
						}
					] %}
					{% for i in singleSlider %}
					<div class="swiper-slide">
						<div class="slide--photo">
							<img data-src="{{i.src}}" alt="">
						</div>
						<!-- <div class="photo--mask"></div> -->
						<div class="slide--content">
							<h3>{{i.number}}.</h3>
							<div class="slide--text">{{i.title}}</div>
						</div>
					</div>
					{% endfor %}
			</div>			
			<div class="slider-control">				
				<div class="slider-button-prev">
					{{mixins.icon('icon_arrow_menu')}}
					<i></i>
				</div>
				<div class="slider-pagination"></div>
				<div class="slider-button-next">
					{{mixins.icon('icon_arrow_menu')}}
					<i></i>
				</div>
			</div>
		</div>		
	</article>

	<nav class="nav__tabs">

		{% set tabs = [
			{
				name: "ОБ ОТЕЛЕ",
				id: "about"
			},
			{
				name: "БАРЫ",
				id: "bars"
			},
			{
				name: "WELNESS & SPA",
				id: "spa"
			},
			{
				name: "ДЕТЯМ",
				id: "child"
			},
			{
				name: "MICE",
				id: "mice"
			}
		] %}

		<ul>
			{% for i in tabs %}
			<li class="btn-skew" data-target="{{i.id}}">
				<div class="background"><i></i></div>
				<span>{{i.name}}</span>
			</li>
			{% endfor %}
			
		</ul>
	</nav>
	
	<ul class="tabs__list">		
		<li id="about">
			<article class="hotel__overview_description">
				<section>
					<div class="photo">
						<img data-src="./img/madrid.jpg" alt="">
					</div>
					<ul>
						<li>Дата открытия/последней реновации</li>
					</ul>
				</section>
				<section>
					<div class="photo">
						<img data-src="./img/salamanka.jpg" alt="">
					</div>
					<ul>
						<li>Наличие пляжа</li>
						<li>Расстояние до пляжа/подъемника</li>
						<li>Паркинг</li>
						<li>Территория отеля (площадь)</li>
					</ul>
				</section>
			</article>		
		</li>
		<li id="bars">
			<article class="hotel__overview_description">				
				<section>
					<div class="photo">
						<img data-src="./img/salamanka.jpg" alt="">
					</div>
					<ul>
						<li>Наличие пляжа</li>
						<li>Расстояние до пляжа/подъемника</li>
						<li>Паркинг</li>
						<li>Территория отеля (площадь)</li>
					</ul>
				</section>
				<section>
					<div class="photo">
						<img data-src="./img/madrid.jpg" alt="">
					</div>
					<ul>
						<li>Дата открытия/последней реновации</li>
					</ul>
				</section>
			</article>		
		</li>
		<li id="spa">
			<article class="hotel__overview_description">
				<section>
					<div class="photo">
						<img data-src="./img/madrid.jpg" alt="">
					</div>
					<ul>
						<li>Дата открытия/последней реновации</li>
					</ul>
				</section>
				<section>
					<div class="photo">
						<img data-src="./img/salamanka.jpg" alt="">
					</div>
					<ul>
						<li>Наличие пляжа</li>
						<li>Расстояние до пляжа/подъемника</li>
						<li>Паркинг</li>
						<li>Территория отеля (площадь)</li>
					</ul>
				</section>
			</article>		
		</li>
		<li id="child">
			<article class="hotel__overview_description">				
				<section>
					<div class="photo">
						<img data-src="./img/salamanka.jpg" alt="">
					</div>
					<ul>
						<li>Наличие пляжа</li>
						<li>Расстояние до пляжа/подъемника</li>
						<li>Паркинг</li>
						<li>Территория отеля (площадь)</li>
					</ul>
				</section>
				<section>
					<div class="photo">
						<img data-src="./img/madrid.jpg" alt="">
					</div>
					<ul>
						<li>Дата открытия/последней реновации</li>
					</ul>
				</section>
			</article>		
		</li>
		<li id="mice">
			<article class="hotel__overview_description">
				<section>
					<div class="photo">
						<img data-src="./img/madrid.jpg" alt="">
					</div>
					<ul>
						<li>Дата открытия/последней реновации</li>
					</ul>
				</section>
				<section>
					<div class="photo">
						<img data-src="./img/salamanka.jpg" alt="">
					</div>
					<ul>
						<li>Наличие пляжа</li>
						<li>Расстояние до пляжа/подъемника</li>
						<li>Паркинг</li>
						<li>Территория отеля (площадь)</li>
					</ul>
				</section>
			</article>		
		</li>
	</ul>

	{% set list = [
		{
			sell: false,
			location: 'Maldives',
			hotel: 'JOALI MALDIVES 5*',
			date: '20.09.2019 – 30.09.2019',
			price: '9 112 USD'
		},
		{
			sell: true,
			location: 'Mexico',
			hotel: 'PLAYACAR PALACE',
			date: '20.09.2019 – 30.09.2019',
			price: '2 654 USD'
		},
		{
			sell: false,
			location: 'Sofitel Dubai',
			hotel: 'The Palm Resort & Spa 5*',
			date: '20.09.2019 – 30.09.2019',
			price: '1 430 USD'
		},
		{
			sell: false,
			location: 'Maldives',
			hotel: 'JOALI MALDIVES 5*',
			date: '20.09.2019 – 30.09.2019',
			price: '9 112 USD'
		},
		{
			sell: false,
			location: 'Mexico',
			hotel: 'PLAYACAR PALACE',
			date: '20.09.2019 – 30.09.2019',
			price: '2 654 USD'
		},
		{
			sell: true,
			location: 'Sofitel Dubai',
			hotel: 'The Palm Resort & Spa 5*',
			date: '20.09.2019 – 30.09.2019',
			price: '1 430 USD'
		}
	] %}


	<article class="catalog__slider hotels aos-init" data-aos="fade-up">
		<h2>
			<span>Editorial hotels</span>
		</h2>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				{% for i in list %}
				<div class="swiper-slide">
					<div class="grid--photo">
						<a href="">
							<img data-src="./img/hotels/{{loop.index}}.jpg" alt="">
						</a>
					</div>
					<div class="grid--location">{{i.location}}</div>
					<div class="grid--hotel">{{i.hotel}}</div>
					<!-- <div class="grid--info">
						<div class="date">{{i.date}}</div>
						<div class="price">{{i.price}}</div>
					</div> -->
				</div>
				{% endfor %}
			</div>			
			<div class="slider-button-prev">
				{{mixins.icon('icon_arrow_menu')}}
				<i></i>
			</div>			
			<div class="slider-button-next">
				{{mixins.icon('icon_arrow_menu')}}
				<i></i>
			</div>
		</div>
		<div class="catalog__list_more">
			<button class="btn-skew">
				<div class="background"><i></i></div>
				<span>More</span>				
			</button>
		</div>
	</article>



	

	{% include "partials/_expert.html" %}





	






{% endblock %}
