---
title: Index page,
class: countries h-green
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="cursor">
	<span></span>
	<i class="circle"></i>
	<i class="play"></i>
	<i class="pause"></i>	
</div>


	<!-- LOADER -->
	<div class="loader">
			<div class="loader-logo">
				<svg version="1.1" id="loader-logo" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="240px" height="240px" viewBox="0 0 240 240" style="enable-background:new 0 0 240 240;" xml:space="preserve">			
					<path class="h" d="M141,110.2c10.9,13.4,32.5,35,39,43.1l-7.9-2.5L141,110.2z"/>
					<path class="m" d="M180,153.3c0,0-2-1.9-3.8-3.9h-8.7L60,150.7L180,153.3z"/>				
				</svg>
				<div class="brand">avialiga</div>
			</div>			
			<div class="blind-left"></div>
			<div class="blind-right"></div>
	</div>
	<!-- /LOADER -->


	<article class="hero">
		<div class="breadcrumb">			
			<a href="">MAIN</a>
			<a href="">LEISURE</a>			
			<span>COUNTRIES</span>
		</div>		
		<div class="wrapper">
			<h1>
				<span>Countries</span>
			</h1>
		</div>			
	</article>
	
	{% set list = [
		{
			sell: true,
			title: 'Mauritius'			
		},
		{
			sell: false,
			title: 'Spain'			
		},
		{
			sell: true,
			title: 'Greece'			
		},
		{
			sell: true,
			title: 'South Africa'			
		},
		{
			sell: false,
			title: 'Austria'			
		},
		{
			sell: false,
			title: 'Australia'			
		}
	] %}


	<article class="catalog__list">
		<ul class="catalog__list_grid">
			{% for i in list %}
			<li {%if i.sell%}class="sell"{%endif%}>
				<div class="grid--photo">
					<a href="">
						<img data-src="./img/hotels/{{loop.index}}.jpg" alt="">
					</a>
				</div>				
				<div class="grid--hotel">{{i.title}}</div>				
			</li>
			{% endfor %}
		</ul>		
	</article>



	

{% endblock %}
