---
title: Index page,
class: homepage
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<!-- LOADER -->
	<div class="loader">
			<div class="progress">0%</div>
			<!-- <div class="logo">
				<svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="151px" height="151px" viewBox="0 0 151 151" style="enable-background:new 0 0 151 151;" xml:space="preserve">
					<g>
						<path id="morph" d="M136.1,31.4L76.5,77.9L50.4,66.4l24.4,7.5L136.1,31.4z"/>
					</g>
				</svg>
			</div> -->
			<div class="blind-left"></div>
			<div class="blind-right"></div>
	</div>
	<!-- /LOADER -->

	<article class="homepage__hero" data-background="./img/home.mp4" data-displacement="./img/displacement.png">
		<div class="wrapper">
			<div class="button-circle play" data-action="homepage-hero-play" data-text="play video">
				{{mixins.icon('icon_play')}}
			</div>
			<h1>								
				<span>Smart</span>
				<span>choise</span>
				<span>save</span>
				<span>time</span>
			</h1>
			<div class="homepage__hero_footer">
				<div class="hero--social">
					<a href="">Instagram</a>
					<a href="">Facebook</a>					             
				</div>
				<div class="hero--scroll animation">
					<span>Sroll Down</span>
					<div class="hero--scroll-line"></div>
				</div>
			</div>
		</div>
		<div class="hero--player">
			<video data-src="./img/installation-video.mp4"></video>
			<div class="player--controls">
				<div class="controls--time">
					<span data-time="current">00:00</span>
					<i>/</i>
					<span data-time="all">00:00</span>
				</div>
				<div class="controls--bar">
					<i></i>	
				</div>
			</div>
			<div class="button-circle close" data-action="homepage-close-video" data-text="close video">
				{{mixins.icon('icon_close')}}
			</div>
		</div>
	</article>

	<article class="homepage__description">
		<p>Specializes in organizing events, group trips and individual tours. While you are developing your business and concentrating on the tasks that are important to you, Avialiga takes care of all the arrangements for the tour.</p>			
	</article>

	<article class="homepage__drag" data-img-left="./img/hone-leisure.jpg" data-img-right="./img/home-business.jpg" data-pat-left="./img/pat1.png"  data-pat-right="./img/pat2.png">
		<div class="wrapper">
			<div class="button-circle drag" data-action="homepage-drag" data-text="learn more" data-hover="drag my">
				{{mixins.icon('icon_arrows')}}
			</div>
			<div class="homepage__drag_dots">
				{% for i in range(0, 10) %}
					<i></i>
				{% endfor %}
			</div>				
			<h2 class="leisure">
				<a href="">Leisure</a>
			</h2>
			<h2 class="business">
				<a href="">Business</a>
			</h2>
		</div>
	</article>

	<article class="homepage__feedback">
		<section class="leisure">
			<h2>Leisure Feedback</h2>
			<!-- Slider main container -->
			<div class="swiper-container">
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper">
						<!-- Slides -->
						{% for i in range(0, 3) %}
						<div class="swiper-slide">
							<div class="slide--text">
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>									
							</div>
							<div class="slide--photo">
								<img src="./img/feedback-img-{{i+1}}.jpg" alt="">
							</div>
						</div>
						{% endfor %}
				</div>
				<div class="slider-control">
					<div class="slider-button-prev">
						{{mixins.icon('icon_arrow_menu')}}
					</div>
					<div class="slider-pagination"></div>
					<div class="slider-button-next">
						{{mixins.icon('icon_arrow_menu')}}
					</div>
				</div>
			</div>
		</section>
		<section class="business">
			<h2>Business Cases</h2>
			<!-- Slider main container -->
			<div class="swiper-container">
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper">
						<!-- Slides -->
						{% for i in range(0, 3) %}
						<div class="swiper-slide">
							<div class="slide--text">
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>									
							</div>
							<div class="slide--photo">
								<img src="./img/feedback-img-{{i+1}}.jpg" alt="">
							</div>
						</div>
						{% endfor %}
				</div>
				<div class="slider-control">
					<div class="slider-button-prev">
						{{mixins.icon('icon_arrow_menu')}}
					</div>
					<div class="slider-pagination"></div>
					<div class="slider-button-next">
						{{mixins.icon('icon_arrow_menu')}}
					</div>
				</div>
			</div>
		</section>
		<div class="button-circle more" data-action="learn-more" data-text="learn more"></div>
	</article>

	<article class="homepage__services">
		<div class="wrapper">
			<section class="leisure">
				<h2>Leisure Destinations</h2>
				<!-- Slider main container -->
				<div class="swiper-container">
					<!-- Additional required wrapper -->
					<div class="swiper-wrapper">
							<!-- Slides -->
							{% for i in range(0, 3) %}
							<div class="swiper-slide">
								<h3>
									<a href="">Some place - {{i+1}}</a>
								</h3>
								<div class="slide--photo">
									<img src="./img/services-leisure-{{i+1}}.jpg" alt="">
								</div>
							</div>
							{% endfor %}
					</div>
					
					<div class="slider-control">
						<div class="slider-button-prev">
							{{mixins.icon('icon_arrow_menu')}}
						</div>
						<div class="slider-pagination"></div>
						<div class="slider-button-next">
							{{mixins.icon('icon_arrow_menu')}}
						</div>
					</div>
					
					
				</div>
			</section>
			<section class="business">
				<h2>Business Sevices</h2>
				<!-- Slider main container -->
				<div class="swiper-container">
					<!-- Additional required wrapper -->
					<div class="swiper-wrapper">
							<!-- Slides -->
							{% for i in range(0, 3) %}
							<div class="swiper-slide">
								<h3>
									<a href="">Some service - {{i+1}}</a>
								</h3>
								<div class="slide--photo">
									<img src="./img/services-business-{{i+1}}.jpg" alt="">
								</div>
							</div>
							{% endfor %}
					</div>
					<div class="slider-control">
						<div class="slider-button-prev">
							{{mixins.icon('icon_arrow_menu')}}
						</div>
						<div class="slider-pagination"></div>
						<div class="slider-button-next">
							{{mixins.icon('icon_arrow_menu')}}
						</div>
					</div>
				</div>
			</section>
		</div>
	</article>

	<article class="homepage__tabs">
		<div class="homepage__tabs_disk">
				<div class="disk--text">TIME SAVING + COST SAVINGS + RISK MINIMAZATION + LEGAL SUPPORT + EXPERIENCE + DEVELOPMENT + REAL EXPECTATIONS</div>				
				<img src="./img/advantages-1.svg" class="disk--arrow-1" alt="">
				<img src="./img/advantages-2.svg" class="disk--arrow-2" alt="">
		</div>
		<div class="wrapper">
			<h3>Get with us</h3>
			<div class="homepage__tabs_list">
				<span data-target="time-saving">TIME SAVING</span>
				<span data-target="cost-saving">COST SAVINGS</span>
				<span data-target="risk-minimization">RISK MINIMAZATION</span>
				<span data-target="legal-support">LEGAL SUPPORT</span>
				<span data-target="experience">EXPERIENCE</span>
				<span data-target="development">DEVELOPMENT</span>
				<span data-target="real-expectation">REAL EXPECTATIONS</span>				
			</div>
			<div class="homepage__tabs_content">
				{% for i in [
					{
						title: 'TIME SAVING',
						data: 'time-saving'
					},
					{
						title: 'COST SAVINGS',
						data: 'cost-saving'
					},
					{
						title: 'RISK MINIMAZATION',
						data: 'risk-minimization'
					},
					{
						title: 'LEGAL SUPPORT',
						data: 'legal-support'
					},
					{
						title: 'EXPERIENCE',
						data: 'experience'
					},
					{
						title: 'DEVELOPMENT',
						data: 'development'
					},
					{
						title: 'REAL EXPECTATIONS',
						data: 'real-expectation'
					}
				] %}
				<section class="tab--body" data-tab="{{i.data}}">
					<h3>
						<div class="title">{{i.title}}</div>
					</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</section>
				{% endfor %}
			</div>
		</div>			
	</article>

	<article class="homepage__insta">
		<section class="leisure">
			<div class="homepage__insta_title">
				<h2>Leisure insta</h2>
				<a href="">@avialiga_leisure</a>
			</div>
			<div class="homepage__insta_gallery">
				<img src="./img/insta-leisure-1.jpg" alt="">
				<img src="./img/insta-leisure-2.jpg" alt="">
				<img src="./img/insta-leisure-3.jpg" alt="">
			</div>
		</section>
		<section class="business">
			<div class="homepage__insta_title">
				<h2>Business insta</h2>
				<a href="">@avialiga_business</a>
			</div>
			<div class="homepage__insta_gallery">
				<img src="./img/insta-business-1.jpg" alt="">
				<img src="./img/insta-business-2.jpg" alt="">
				<img src="./img/insta-business-3.jpg" alt="">
			</div>
		</section>
	</article>

	<article class="homepage__form">
		<div class="homepage__form_title">
			<h2>Your travel expert</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</div>
		<div class="homepage__form_body">
			<form action="">
				<div class="form">
					<div class="form-control name">
						<input type="text" placeholder="Your Name">
					</div>
					<div class="form-control phone">
						<input type="text" placeholder="Your Phone">
					</div>
					<div class="form-control comment">
						<textarea name="" placeholder="Your comment"></textarea>
					</div>
				</div>
				<div class="form--submit">
					<button>
						<span>Submit</span>
						<i></i>
					</button>
				</div>
			</form>
		</div>
	</article>



{% endblock %}
