.homepage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;  
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    .blind-left {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 49%;
      background-color: $white;
      transform: skewX(-35deg);
      transform-origin: left;
    }
    .blind-right {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 49%;
      background-color: $white;
      transform: skewX(-35deg);
      transform-origin: right;
    }
    .progress {
      z-index: 1;
      font: 16px/1 $futura;
      color: $black;
      position: relative;
      visibility: hidden;
    }
    .loader-logo {
      width: 240px;
      height: 240px;
      position: relative;
      z-index: 1;
      .brand {
        position: absolute;    
        top: 166px;
        left: 62px;
        font: 300 20px/1 "Futura";
        text-transform: uppercase;
        letter-spacing: 7px;
        opacity: 0;
      }
      // &::before {
      //   content: "";
      //   width: 100%;
      //   height: 2px;
      //   background-color: red;
      //   position: absolute;
      //   top: calc(50% - 1px);
      //   left: 0;  
      //   opacity: 0;
      // }  
      // &::after {
      //   content: "";
      //   width: 2px;
      //   height: 100%;
      //   background-color: red;
      //   position: absolute;
      //   left: calc(50% - 1px);
      //   top: 0;  
      //   opacity: 0;
      // }  
    }
    @keyframes loaderLogo {
      0% {fill: #2f2f2f;}
      10% {fill: #f8d4e4;}
      20% {fill: #d8ebe7;}
      30% {fill: #5ebfaf;}
      40% {fill: #577081;}
      50% {fill: #eb4333;}
      60% {fill: #d7ebe6;}      
      70% {fill: #bfbdce;}
      80% {fill: #9ccad5;}      
      90% {fill: #5ebfaf;}
      100% {fill: #2f2f2f;}
    }
    #loader-logo {
      z-index: 1;
      visibility: hidden;
      //background-color: beige;
      &.colors {
        .m {          
          //animation: loaderLogo 5s infinite linear;          
        }
        .h {          
          //animation: loaderLogo 5s infinite linear;
        }  
      }
      .m {
        fill: $black;
      }
      .h {
        fill: $black;        
      }
    }
  }
  .homepage__hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;    
    .wrapper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .button-circle {
      &.play {
        position: absolute;
        left: 350px;
        top: calc(50% - 50px);
      }
      &.close {
        position: absolute;
        top: 50px;
        right: 50px;
      }      
    }
    h1 {      
      font: normal 9.9vw/1 $futura;
      color: $white;      
      margin-left: 42%;
      margin-top: 140px;
      perspective: 400px;
      span {
        display: block;
        transform-origin: bottom;
        &:nth-child(2) {
          margin-left: 6vw;
        }
        &:nth-child(3) {
          margin-left: 12vw;
        }
        &:nth-child(4) {
          margin-left: 18vw;
        }
        &:nth-child(5) {
          margin-left: 24vw;
        }
        &:nth-child(6) {
          margin-left: 30vw;
        }
      }
    }
    .homepage__hero_footer {
      position: absolute;
      right: 90px;
      bottom: 86px;
      left: 86px;
      display: flex;
      justify-content: space-between;
      color: $white;
      font: 300 16px/1 $futura;
      a {        
        margin-right: 60px;
        &:last-child {
          margin-right: 0;
        }        
      }
      @keyframes scrollDown {
        from {
          transform: translateY(-100%);
        }
        50% {
          transform: translateY(0%);
        }  
        to {
          transform: translateY(100%);
        }
      }
      .hero--scroll {
        position: relative;
        padding-right: 20px;
        &.animation {
          .hero--scroll-line {
            &::before {
              animation: scrollDown 2s infinite ease;
            }            
          }          
        }
        .hero--scroll-line {
          width: 2px;
          height: 80px;          
          position: absolute;
          right: 0;
          bottom: -30px;
          overflow: hidden;
          &::before {
            content: "";
            display: block;
            width: 2px;
            height: 80px;
            background-color: #fff;
            position: absolute;
            left: 0;
            bottom: 0;            
          }          
        }        
      }
    }
    .hero--player {
      visibility: hidden;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $black;
      display: flex;
      align-items: center;
      z-index: 10;
      video {
        width: 100%;
      }
      .player--controls {
        position: absolute;
        bottom: 85px;
        left: 0;
        padding: 0 90px;
        display: flex;
        align-items: center;
        width: 100%;
        .controls--time {
          font: normal 16px/1 $futura;
          color: $white;
          display: flex;
          margin-right: 40px;  
          i {
            margin: 0 10px;
            font-style: normal;
          }  
        }
        .controls--bar {
          height: 1px;
          flex-grow: 1;
          background-color: $white;
          i {
            display: block;
            width: 0%;
            background-color: $red;
            height: 1px;
            transition: width 500ms linear;
          }
        }
      }
    }
  }

  .homepage__description {
    font: 300 36px/48px $futura;
    padding: 160px 0;
    color: $black;
    position: relative;
    //background: url('../img/bg-home-descr.png') no-repeat center;
    p {
      max-width: 810px;
      margin: auto;
      position: relative;
      z-index: 1;
    }
    .homepage__description_bg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
      .h {
        fill: $black;
      }
      .m {
        fill: $black;
      }
    }
  }
  .homepage__drag {
    overflow: hidden;
    width: 100%;
    height: calc(100vw / 2.08);
    position: relative;
    .blind-left {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 49%;
      background-color: $white;
      transform: skewX(-35deg);
      transform-origin: left;
      z-index: 3;
    }
    .blind-right {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 49%;
      background-color: $white;
      transform: skewX(-35deg);
      transform-origin: right;
      z-index: 3;
    }
    .wrapper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
    .homepage__drag_dots {
      display: flex;
      justify-content: space-between;      
      width: calc(((100% / 2) / 3) * 2);
      position: absolute;
      left: calc(50% - (((100% / 2) / 3)));
      top: calc(50% - 4px);
      transform: scaleX(0);
      z-index: 0;
      i {
        display: block;
        width: 8px;
        height: 8px;
        background-color: $red;
        border-radius: 50%;
      }
      &.active {
        transform: translate(-50%, -50%) scaleX(1);
      }
    }
    .button-circle {
      position: absolute;
      top: calc(50% - 50px);
      left: calc(50% - 50px);
      z-index: 1;
    }
    canvas {
      &.leisure,
      &.business {
        position: absolute;
        top: 0;
        left: 0;  
      }
      &.leisure {
        transform-origin: top;
      }
      &.business {
        transform-origin: bottom;
      }
    }
    h2 {
      -webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
      -ms-user-select: none;      /* IE 10+ */
      user-select: none;
      font: normal 9.9vw/1 $futura;
      position: absolute;
      perspective: 400px;
      &.leisure {
        top: 60px;
        left: 90px;
      }
      &.business {
        bottom: 70px;
        right: 90px;
      }
      a {
        display: block;
        position: relative;
        transform-origin: bottom;
        &::after {
          content: "";
          width: 100%;
          height: 2px;
          background: $red;
          position: absolute;
          left: 0;
          bottom: 0;
        }
        &:hover {
          &::after {
            animation: linkHover 1.5s ease;
          }
        }
      }
    }
    @keyframes linkHover {
      from {
        left: initial;
        right: 0;
      }
      49% {
        width: 0;
        left: initial;
        right: 0;
      }  
      51% {
        left: 0;
        right: initial;
        width: 0;
      }  
      to {
        width: 100%;
      }    
    }
  }

  .homepage__insta {
    margin: 80px 90px 0 90px;
    section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .homepage__insta_title {
        width: 260px;
        h2 {
          font: normal 72px/60px $futura;
          color: $green;
          perspective: 400px;
          span {
            display: inline-block;
            transform-origin: bottom;
          }
        }
        a {
          font: 300 24px/60px $futura;
          color: $red;
          display: inline-block;
          margin-top: 30px;
          margin-left: 7px;
        }
      }
      .homepage__insta_gallery {
        width: 70%;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        img {
          width: 33.33333333333333333333333%;
        }
      }
      &.business {
        margin-top: 120px;
        .homepage__insta_title {
          order: 2;
          h2 {
            color: $bud;
          }          
        }
      }
    }
  }
  .homepage__form {
    margin: 130px 90px 0 90px;
    display: flex;
    justify-content: space-between;
    .homepage__form_title {
      margin-right: 100px;
      h2 {
        font: normal 72px/60px $futura;
        color: $black;
        perspective: 400px;
        span {
          display: inline-block;
          transform-origin: bottom;
        }
      }
      p {
        margin: 40px 0 0 90px;
        font: 300 18px/30px $futura;
      }
    }
    .homepage__form_body {
      width: 56%;
      flex-shrink: 0;
      .form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .form-control {
          input,
          textarea {
            font: normal 14px/18px $futura;
          }          
          &.name,
          &.phone {
            width: calc(50% - 22px);
          }
          &.comment {
            width: 100%;
            height: initial;
            line-height: 1;
            textarea {
              height: 70px;
              padding: 28px 0 0 0;
              font-size: 14px;
              transition: all 250ms ease;
              &:focus {
                height: 90px;
              }
            }
          }
        }           
      }
      .form--submit {        
        margin-top: 35px;
        button {
          width: 320px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          font: normal 14px/1 $futura;
          text-transform: uppercase;
          color: $red;
          margin: auto;
          position: relative;          
          span {
            position: relative;
            z-index: 1;
          }          
          i {            
            display: block;
            width: 100%;
            height: 2px;
            background-color: $red;
            position: absolute;
            left: 0;
            bottom: 14px;            
            z-index: 0;
          }
        }
      }     
    }
  }
  .homepage__services {
    margin-top: 80px;
    .wrapper {
      display: flex;
      justify-content: space-between;
      section {
        width: 50%;
        flex-shrink: 0;
        position: relative;
        &.leisure {
          .slide--photo {
            transform-origin: top;
          }          
        }
        &.business {
          .slide--photo {
            transform-origin: bottom;
          }
        }
        h2 {
          font: 300 30px/1 $futura;
          color: $white;
          position: absolute;
          top: 45%;
          left: 90px;
          z-index: 2;
          will-change: transform;          
        }
        .swiper-slide {
          position: relative;
          will-change: transform;
          &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: #000;
            opacity: 0.15;
            z-index: 1;
          }          
          h3 {
            font: normal 5.1vw/60px $futura;
            color: $white;
            position: absolute;
            top: 0;
            left: 90px;
            top: 55%;
            z-index: 1;            
            perspective: 400px;
            a {
              display: block;
              position: relative;
              transform-origin: bottom;
              &::after {
                content: "";
                width: 100%;
                height: 2px;
                background: $red;
                position: absolute;
                left: 0;
                bottom: -13px;
              }
              &:hover {
                &::after {
                  animation: linkHover 1.5s ease;
                }
              }
            }
          }
          .slide--photo {
            font-size: 0;
            line-height: 1;
            overflow: hidden;
            line-height: 1;
            font-size: 0;
            img {
              width: 100%;
            }
          }          
        }
        .slider-control {          
          display: flex;
          position: absolute;
          top: 75%;
          left: 90px;
          align-items: center;
          z-index: 2;
          .slider-pagination {
            position: relative;
            z-index: 1;
            margin: 0 25px;
            width: initial;
            font: 500 14px/1 $futura;
            color: $white;
            bottom: initial;
            left: initial;
          }
          .slider-button-prev,
          .slider-button-next {
            width: 80px;
            height: 80px;
            border: 1px solid $white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; 
            z-index: 3;            
            position: relative;            
            transition: all 250ms ease;
            &.swiper-button-disabled {
              opacity: 0.3;
              .icon {
                fill: $white;
              }
            }
            i {              
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background-color: $white;
              transform: scale(0);              
              border-radius: 50%;
            }            
            .icon {
              fill: $red!important;             
              width: 22px;
              height: 11px;
              z-index: 1;
            }
          }
          .slider-button-prev {
            .icon {
              transform: rotate(90deg);
            }
          }
          .slider-button-next {
            .icon {
              transform: rotate(-90deg);
            }
          }
        }
      }
    }
  }
  .homepage__feedback {    
    padding-top: 140px;
    padding-bottom: 80px;
    position: relative;
    section {
      visibility: hidden;
      position: relative;
      margin-bottom: 100px;
      &.business {
        margin-bottom: 0;
        h2 {
          color: $bud;
          left: calc(50% + 90px);
        }
        .slide--text {
          left: calc(50% + 90px)!important;
        }
        .slide--photo {
          margin-left: 0!important;
          margin-right: auto;
        }
        .slider-control {
          left: calc(50% + 180px);
        }
      }
      &:last-child {
        margin-bottom: 10px;
      }
      h2 {
        font: normal 72px/60px "Futura";
        color: #5ac0b0;
        position: absolute;
        top: 15%;
        left: 90px;
        z-index: 2;
        perspective: 400px;
        span {
          display: inline-block;
          transform-origin: bottom;
        }
      }
      .swiper-slide {        
        padding: 0 90px;
        position: relative;
        will-change: transform;
        .slide--text {
          width: calc(50% - 180px);
          font: 300 24px/36px $futura;
          color: $black;   
          position: absolute;
          top: 38%;
          left: 90px;
          padding-left: 90px;
        }
        .slide--photo {
          width: 50%;
          margin-left: auto;   
          overflow: hidden;       
          line-height: 1;
          font-size: 0;
          img {
            width: 100%;
            //transition: transform 1000ms ease, opacity 800ms ease;
          }
        }
        &.swiper-slide-prev {
          
        }
        &.swiper-slide-next {
          
        }
        &.swiper-slide-active {
          .slide--photo {
            
          }
        }
      }
      .slider-control {
        display: flex;
        position: absolute;
        top: 75%;
        left: 180px;
        align-items: center;
        z-index: 1;
        .slider-pagination {
          position: relative;
          z-index: 1;
          margin: 0 25px;
          width: initial;
          font: 500 14px/1 $futura;
          color: $green;
          bottom: initial;
          left: initial;
        }
        .slider-button-prev,
        .slider-button-next {
          width: 80px;
          height: 80px;
          border: 1px solid $green;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center; 
          z-index: 3;          
          position: relative;            
          transition: all 250ms ease;
          &.swiper-button-disabled {
            opacity: 0.3;
            .icon {
              fill: $green;
            }
          }
          i {            
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $green;
            transform: scale(0);            
            border-radius: 50%;
          }          
          .icon {
            fill: $red;            
            width: 22px;
            height: 11px;
            z-index: 1;
          }
        }
        .slider-button-prev {
          .icon {
            transform: rotate(90deg);
          }
        }
        .slider-button-next {
          .icon {
            transform: rotate(-90deg);
          }
        }
      }
    }
    .button-circle.more {
      position: absolute;
      bottom: 80px;
      left: 50%;
      transform: translate(-50%, 50%);
      z-index: 1;
    }
  }
  .homepage__tabs {
    height: 820px;
    position: relative;
    overflow: hidden;
    .homepage__tabs_disk {
      width: 640px;
      height: 640px;
      position: absolute;
      top: 100px;
      left: -80px;      
      // &::before {
      //   content: "";
      //   display: block;
      //   width: 100%;
      //   height: 2px;
      //   background: red;
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   transform: translate(-50%, -50%);
      // }
      // &::after {
      //   content: "";
      //   display: block;
      //   width: 2px;
      //   height: 100%;
      //   background: red;
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   transform: translate(-50%, -50%);
      // }
      .disk--text {
        font: 300 20px/1 $futura;
        color: $sinbad;
        text-transform: uppercase;
        position: relative;
        width: 100%;
        height: 100%;
        .text {        
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;                
          transform-origin: center;        
          user-select: none;
          div {          
            transform-origin: 0 100%;
            position: absolute !important;
            bottom: 50%;
            left: 50%;
            width: 20px;
            text-align: center;
          }        
        }
      }
      .disk--arrow-1 {
        width: 80px;        
        position: absolute;
        top: 280px;
        left: 254px;
        transform-origin: 85% 84%;
      }
      .disk--arrow-2 {
        width: 160px;        
        position: absolute;
        top: 180px;
        left: 312px;
        transform-origin: 7% 93%;
      }
    }    
    .wrapper {
      margin: 200px 90px 0 auto;
      position: relative;
      z-index: 1;
      width: calc(70% - 90px - 35px);
      h3 {
        font: 300 30px/1 $futura;
        color: $black;
      }      
      .homepage__tabs_list {
        margin-top: 45px;
        font: 300 72px/60px $futura;
        color: $red;
        position: relative;
        z-index: 1;        
        span {
          transform-origin: bottom;
          &.active {
            position: relative;
            z-index: 1;
          }
          &::after {
            content: " +";
            padding: 0 0.3em;
          }
        }        
      }
      .homepage__tabs_content {
        position: absolute;
        top: 75px;
        left: 0;
        .tab--body {
          display: none;
          h3 {            
            color: $red;
            display: inline-flex;
            perspective: 300px;
            .title {              
              transform-origin: bottom;
              font: 300 72px/60px $futura;
              text-transform: uppercase;
              div:last-child {
                white-space: nowrap;
              }
              i {
                font-style: normal;
                display: inline-block;
                width: 60px;
                height: 60px; 
                transform: rotate(45deg);
                margin-left: 20px;                
                font-size: 76px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
              }
            }                        
          }
          p {
            font: 300 24px/36px $futura;
            color: $black;
            margin-top: 30px;  
          }
        }
      }
    }    
  }  
}

