@import 'home';
@import 'catalog';
@import 'leisure';
@import  'business';
@import  'blogs';
@import  'cards';
@import  'about';
@import  'arcticle';
@import  'tickets';



.spa {
  overflow: hidden;
  .breadcrumb {
    top: 130px;
    position: absolute;
    color: $white;
    z-index: 1;
    a {
      color: currentColor;
    }
  }
  .catalog__list {
    background-color: #d3e7e1;
  }
  .expert__form {
    .expert__form_title {
      h2 {
        color: #5ac0b0;
      }
    }
  }  
}

.relax {
  overflow: hidden;
  .breadcrumb {
    top: 130px;
    position: absolute;
    color: $white;
    z-index: 1;
    a {
      color: currentColor;
    }
  }
  .photo__hero {
    .wrapper {
      h1 {
        font-size: 140px;
      }
    }
  }
  .expert__form {
    .expert__form_title {
      h2 {
        color: #5ac0b0;
      }
    }
  }  
  .catalog__list {
    padding-top: 80px;
    padding-bottom: 80px;
    .catalog__list_grid {
      li {
        .grid--hotel {
          margin-top: 15px;
        }
      }
    }
  }
}

.bt {
  overflow: hidden;
  .breadcrumb {
    top: 130px;
    position: absolute;
    color: $white;
    z-index: 1;
    a {
      color: currentColor;
    }
  }
  .photo__hero {
    .hero_background {
      overflow: hidden;
      img {
        //filter: blur(20px);
      }
    }
    .wrapper {
      h1 {
        font-size: 140px;
      }
    }    
  }
  .homepage__insta {
    section {
      .homepage__insta_title {
        h2 {
          color: #bebccd;
        }
      }
    }
  }
  .expert__form {
    .expert__form_title {
      h2 {
        color: #bebccd;
      }
    }
  }  
  .catalog__list {
    padding-top: 80px;
    padding-bottom: 80px;
    .catalog__list_grid {
      li {
        .grid--hotel {
          margin-top: 15px;
        }
      }
    }
  }
}

.leisure-questionaire {
  .hero {
    padding: 150px 0 0 0;
  }
  .wrapper {
    padding: 50px 90px;
    h1 {     
      font: normal 72px/60px "Futura";
      color: #5ac0b0;
    }
  }  
}

.single-country {
  overflow: hidden;
  .photo__hero {
    .wrapper {
      h1 {
        margin-bottom: 50px;
        font-size: 72px;
      }
    }    
    .hero__description_info {
      .hotels {
        margin-bottom: 50px;
        .map {
          margin-top: 30px;          
          a {
            font-size: 16px;
            line-height: 18px;
            display: inline-block;
            position: relative;
            &::after {
              content: "";
              width: 100%;
              height: 1px;
              background: $red;
              position: absolute;
              left: 0;
              right: initial;
              bottom: -8px;
              transition: all 400ms ease;
            }
            &:hover {
              &::after {        
                height: 1px;
                width: 0%; 
                left: initial;
                right: 0;
                z-index: 1;
              }
            } 
          }
          display: inline-flex;
          align-items: center;
          .icon, img {
            height: 25px;
            margin-right: 18px;
          }
        }
      }
    }
  }
  .single-slider {
    .swiper-container {
      .swiper-slide {
        h2 {
          width: 100%;
        }
      }
    }
  }
  .expert__form {
    .expert__form_title {
      h2 {
        color: #5ac0b0;
      }
    }
  }
}

.countries {
  .hero {
    padding: 150px 0 0 0;
  }
  .wrapper {
    padding: 50px 90px;
    h1 {     
      font: normal 72px/60px "Futura";
      color: #5ac0b0;
    }
  }  
  .catalog__list {
    .catalog__list_grid {
      li {
        .grid--hotel {
          margin-top: 20px;
        }
      }
    }
  }
}

.meetings {
  overflow: hidden;
  .photo__hero {
    .wrapper {
      h1 {
        font-size: 140px;
      }
    }
  }
  .catalog__list {
    padding: 90px 90px 100px 90px;
    .catalog__list_grid {
      li {
        .grid--hotel {
          margin-top: 20px;
        }
      }
    }
  }  
  .single-slider {
    .swiper-container {
      .swiper-slide {
        h2 {
          width: 100%;
        }
      }
    }
  }
  .expert__form {
    padding-bottom: 190px;
    .expert__form_title {
      h2 {
        color: #bfbdce;
      }
    }
  }
}

body.agents {
  .agents__hero {
    min-height: calc(var(--vh, 1vh) * 100);
    padding: 130px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .breadcrumb {
      color: #5bbcad;
      position: absolute;
      top: 130px;
      a {
        color: #5bbcad;
      }
    }
    h1 {
      font: normal 72px/60px "Futura";
      color: #5bbcad;
      margin: 0 auto;
      width: 370px;
    }
    .agents__hero_text {
      font: 300 18px/30px "Futura";
      width: 370px;
      margin: 30px auto 0 auto;
    }
    .agents__hero_form {
      width: 370px;
      margin: 30px auto 0 auto;
      input {
        font-size: 14px;
        font-family: "Proxima";
      }
      .submit {
        margin-top: 45px;
        padding-left: 22px;
        .btn-skew {
          width: calc(100% - 22px); 
          font: 300 14px/24px "Proxima";
        }
      }
      .forgot {
        text-align: right;
        margin-top: 40px;
        font: 300 14px/24px "Proxima";
      }
    }
  }
  .agents__values {
    padding: 120px 90px;
    h2 {
      font: normal 72px/60px "Futura";
      color: #5ac0b0;
    }
    ul {
      display: flex;
      margin-top: 60px;
      li {
        width: 50%;
        flex-shrink: 0;
        padding-left: 90px;
        font: 300 18px/30px "Futura";
      }
    }
  }
  .expert__form {
    background-color: #d7ebe7;
    margin: 0;
    padding: 80px 90px 120px 90px;
    .expert__form_title {
      h2 {
        color: #5ac0b0;
      }
    }
  }
  .agents__subscribe {
    padding: 90px;
    h2 {
      font: normal 72px/60px "Futura";
      color: #5ac0b0;
    }
    .agents__subscribe_form {
      margin-top: 30px;
      display: flex;
      padding-left: 90px;
      .form-control {
        flex-grow: 1;
        margin-right: 112px;
        input {
          font-size: 14px;
        }
      }
      .submit {
        width: 320px;
        .btn-skew {
          width: 100%;
        }
      }
    }
  }
}

