.leisure {
  font-family: 'Futura';
  overflow: hidden;  
  .cursor {
    i {
      &.circle {
        background-color: $red;
      }
    }
  }
  .leisure__hero {
    min-height: calc(var(--vh, 1vh) * 100);
    position: relative;
    cursor: default;
    line-height: 0;
    &::before {
      content: "";
      display: block;
      position: absolute;
      background: rgb(0,0,0);
      background: -moz-linear-gradient(180deg, rgba(0,0,0,0.3029586834733894) 0%, rgba(253,255,255,0) 100%);
      background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.3029586834733894) 0%, rgba(253,255,255,0) 100%);
      background: linear-gradient(180deg, rgba(0,0,0,0.3029586834733894) 0%, rgba(253,255,255,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#fdffff",GradientType=1);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
    }
    .breadcrumb {
      top: 130px;
      position: absolute;
      color: $white;
      a {
        color: currentColor;
      }
    }
    .leisure__hero_backgrounds {
      display: none;
    }
    h1 {
      width: 55vw;
      font: normal 140px/1 "Futura";
      color: #ffffff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      perspective: 1000px;
      perspective-origin: 20% 100%;
      will-change: transform;
      -webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
      -ms-user-select: none;      /* IE 10+ */
      user-select: none;
      span {
        display: block;
        white-space: nowrap;
        transform-origin: bottom;

        &:nth-child(1) {
          margin-left: 0vw;
        }
        &:nth-child(2) {
          margin-left: 6vw;
        }        
        &.switch {
          margin-left: 6vw;
          display: none;
        }
      }
    }    
    .hero--scroll {
      position: relative;      
      position: absolute;      
      right: 85px;
      bottom: 85px;
      padding-right: 20px;
      color: $white;
      &.animation {
        .hero--scroll-line {
          &::before {
            animation: scrollDown 2s infinite ease;
          }            
        }          
      }
      .hero--scroll-line {
        width: 2px;
        height: 80px;          
        position: absolute;
        right: 0;
        bottom: -30px;
        overflow: hidden;
        &::before {
          content: "";
          display: block;
          width: 2px;
          height: 80px;
          background-color: #fff;
          position: absolute;
          left: 0;
          bottom: 0;            
        }          
      }        
    }
  }
  .homepage__tabs {
    background-color: #d3e7e1;
    min-height: calc(var(--vh, 1vh) * 100);
    .homepage__tabs_disk {
      .disk--text {
        color: $white;
      }
    }
  }
  .homepage__drag {
    min-height: calc(var(--vh, 1vh) * 100);
    background-color: #000;
    &::before {
      content: "";
      display: block;
      position: absolute;
      background: rgb(0,0,0);
      background: -moz-linear-gradient(180deg, rgba(0,0,0,0.3029586834733894) 0%, rgba(253,255,255,0) 100%);
      background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.3029586834733894) 0%, rgba(253,255,255,0) 100%);
      background: linear-gradient(180deg, rgba(0,0,0,0.3029586834733894) 0%, rgba(253,255,255,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#fdffff",GradientType=1);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
    canvas {      
      position: absolute;
      top: 0;
      left: 0;
      &.left {
        transform-origin: top;
      }
      &.right {
        transform-origin: bottom;
      }
    }
    .wrapper {
      display: flex;      
      flex-direction: column;
      justify-content: center;
      align-items: center;      
    }
    h2 {
      color: $white;
      font: normal 72px/60px "Futura";
      text-transform: uppercase;      
      position: static;
      text-align: center;
      position: absolute;
      top: auto;
      bottom: calc(50% + 140px);
      width: 100%;
      transform: translateY(50%);
      span {
        display: inline-block;
        transform-origin: bottom;
      }
    }    
    .btn-skew {      
      width: 175px;
      z-index: 3;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      i {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
  .homepage__insta {
    margin-top: 157px;
    section.business {
      .homepage__insta_title {
        h2 {
          color: $green;
        }
      }
    }
  }
  .expert__form {
    .expert__form_title {
      h2 {
        color: $green;
      }
    }
  }
}

.leisure__hero_pagination {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: $white;
  position: absolute;
  bottom: 85px;
  left: 85px;
  .pagination--bar {
    margin-left: 15px;
    width: 270px;
    height: 1px;
    background-color: $white;
    i {
      display: block;
      height: 1px;
      background-color: $red;
      width: 33.333333333%;
    }
  }
}

.leisure__hero {
  min-height: calc(var(--vh, 1vh) * 100);
  position: relative;
  cursor: default;
  line-height: 0;
  &::before {
    content: "";
    display: block;
    position: absolute;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0.3029586834733894) 0%, rgba(253,255,255,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.3029586834733894) 0%, rgba(253,255,255,0) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,0.3029586834733894) 0%, rgba(253,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#fdffff",GradientType=1);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  .breadcrumb {
    top: 130px;
    position: absolute;
    color: $white;
    a {
      color: currentColor;
    }
  }
  .leisure__hero_backgrounds {
    display: none;
  }
  h1 {
    width: 55vw;
    font: normal 9.9vw/1 "Futura";
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
    perspective-origin: 20% 100%;
    will-change: transform;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    span {
      display: block;
      white-space: nowrap;
      transform-origin: bottom;

      &:nth-child(1) {
        margin-left: 0vw;
      }
      &:nth-child(2) {
        margin-left: 6vw;
      }        
      &.switch {
        margin-left: 6vw;
        display: none;
      }
    }
  }
  .leisure__hero_pagination {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: $white;
    position: absolute;
    bottom: 85px;
    left: 85px;
    .pagination--bar {
      margin-left: 15px;
      width: 270px;
      height: 1px;
      background-color: $white;
      i {
        display: block;
        height: 1px;
        background-color: $red;
        width: 33.333333333%;
      }
    }
  }
  @keyframes scrollDown {
    from {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(0%);
    }  
    to {
      transform: translateY(100%);
    }
  }
  .hero--scroll {
    position: relative;      
    position: absolute;      
    right: 85px;
    bottom: 85px;
    padding-right: 20px;
    color: $white;
    &.animation {
      .hero--scroll-line {
        &::before {
          animation: scrollDown 2s infinite ease;
        }            
      }          
    }
    .hero--scroll-line {
      width: 2px;
      height: 80px;          
      position: absolute;
      right: 0;
      bottom: -30px;
      overflow: hidden;
      &::before {
        content: "";
        display: block;
        width: 2px;
        height: 80px;
        background-color: #fff;
        position: absolute;
        left: 0;
        bottom: 0;            
      }          
    }        
  }
}

.tour-types {
  min-height: calc(var(--vh, 1vh) * 100);
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  will-change: transform;  
  &::before {
    content: "";
    display: block;
    position: absolute;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0.3029586834733894) 0%, rgba(253,255,255,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.3029586834733894) 0%, rgba(253,255,255,0) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,0.3029586834733894) 0%, rgba(253,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#fdffff",GradientType=1);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .tour-types__bg {    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }
  .swiper-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .slider-control {          
      display: none;
      position: absolute;
      top: calc(50% + 72px);
      left: 120px;
      align-items: center;
      z-index: 2;
      .slider-pagination {
        position: relative;
        z-index: 1;
        margin: 0 25px;
        width: initial;
        font: 500 14px/1 $futura;
        color: $white;
        bottom: initial;
        left: initial;
      }      
    }
    .slider-button-prev,
    .slider-button-next {
      width: 80px;
      height: 80px;
      border: 1px solid $white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; 
      z-index: 3;            
      position: relative;            
      transition: all 250ms ease;
      &.swiper-button-disabled {
        opacity: 0.3;
        .icon {
          fill: $white;
        }
      }
      i {              
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $white;
        transform: scale(0);              
        border-radius: 50%;
      }            
      .icon {
        fill: $red!important;             
        width: 22px;
        height: 11px;
        z-index: 1;
      }
    }
    .slider-button-prev {
      .icon {
        transform: rotate(90deg);
      }
    }
    .slider-button-next {
      .icon {
        transform: rotate(-90deg);
      }
    }
  }
  .section--bg {
    position: absolute;
    width: 260%;
    height: 100%;
    top: 0;
    left: -80%;
    overflow: hidden;
    transform: skewX(34deg);
    &::before {
      content: "";
      display: block;
      position: absolute;
      background: rgb(0,0,0);
      background: -moz-linear-gradient(180deg, rgba(0,0,0,0.3029586834733894) 0%, rgba(253,255,255,0) 100%);
      background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.3029586834733894) 0%, rgba(253,255,255,0) 100%);
      background: linear-gradient(180deg, rgba(0,0,0,0.3029586834733894) 0%, rgba(253,255,255,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#fdffff",GradientType=1);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
    img {
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;     
      transform: translateX(-50%);      
    }
    &.relax {
      
    }
    &.adventure {
      
    }
    &.discover {
      
    }
  }
  .tour-types__section {
    //width: 33.333333333%;
    height: 100%;
    position: relative;
    z-index: 1;        
    .wrapper {
      transform: skewX(-34deg);
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;      
    }
    h2 {
      position: absolute;
      top: 50%;
      left: 6vw;
      transform: translateY(-50%) skewX(34deg);
      z-index: 3;
      font: 5.08vw/1 "Futura";
      color: $white;
      a {
        display: inline-block;
        perspective: 500px;
      }
      span {
        display: inline-block;
        position: relative;
        transform-origin: bottom;
        &::after {
          content: "";
          width: 100%;
          height: 2px;
          background: $red;
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
      &:hover {        
        span {
          &::after {
            animation: linkHover 1.5s ease;
          }
        }
      }
    }
    .btn-skew {
      position: absolute;
      left: calc(100% - 332px);
      bottom: calc(50% - 260px);
      width: 178px;
      i {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
      }
    }
  }
}

.single-slider {
  position: relative;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  .swiper-container {
    position: relative;
    
    .swiper-wrapper {
      
    }
    .swiper-slide {
      min-height: calc(var(--vh, 1vh) * 100);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 90px 90px 100px 90px;
      //backface-visibility: hidden;
      .photo--mask {
        position: absolute;        
        top: 0;        
        left: 0;
        width: 100%;
        height: 100%;        
        background-color: #000;
        transform: skewX(34deg);
        opacity: 0.6;
        transition: opacity 4s ease;
      }
      &.swiper-slide-active {
        .photo--mask {          
          opacity: 0.3;
        }
      }
      .slide--photo {        
        position: absolute;
        top: 0;        
        left: 0;
        width: 100%;
        height: 100%;
        transform: skewX(34deg);
        overflow: hidden;
        display: none;
        //backface-visibility: hidden;
        .wrapper {          
          transform: skewX(-34deg);
          position: absolute;
          top: 0;          
          left: -325px;
          width: calc(100% + (325px * 2));
          height: 100%;
          //backface-visibility: hidden;
        }
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;          
        }
        .mask {
          content: "";
          display: block;
          position: absolute;
          background: rgba(0, 0, 0, 0.3);
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          //backface-visibility: hidden;
        }
      }
      h2 {
        font: 5.08vw/1 "Futura";
        position: relative;
        z-index: 1;        
        color: $white;
        width: 50%;
      }
      .slide--content {
        position: relative;
        z-index: 2;
      }
      .slide--text {
        font: 24px/36px "Futura";
        color: $white;
        position: relative;
        z-index: 1;
        width: 50%;
        margin-top: 30px;
      }
      .slide--nav {
        margin-top: 30px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        .about {
          font: 16px/28px "Futura";  
          color: $white;
          text-transform: uppercase;
          margin-right: 30px;
          position: relative;
          transform-origin: bottom;
          &::after {
            content: "";
            width: 100%;
            height: 1px;
            background: $white;
            position: absolute;
            left: 0;
            bottom: 0;
          }
          &:hover {
            &::after {
              animation: linkHover 1.5s ease;
            }           
          }
        }
        .btn-skew {
          width: 175px;
          i {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
    .slider-control {          
      display: flex;
      position: absolute;
      bottom: 100px;
      right: 90px;
      align-items: center;
      z-index: 2;
      .slider-pagination {
        position: relative;
        z-index: 1;
        margin: 0 25px;
        width: initial;
        font: 500 14px/1 $futura;
        color: $white;
        bottom: initial;
        left: initial;
      }      
    }
    .slider-button-prev,
    .slider-button-next {
      width: 80px;
      height: 80px;
      border: 1px solid $white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; 
      z-index: 3;            
      position: relative;            
      transition: all 250ms ease;
      &.swiper-button-disabled {
        opacity: 0.3;
        .icon {
          fill: $white;
        }
      }
      i {              
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $white;
        transform: scale(0);              
        border-radius: 50%;
      }            
      .icon {
        fill: $red!important;             
        width: 22px;
        height: 11px;
        z-index: 1;
      }
    }
    .slider-button-prev {
      .icon {
        transform: rotate(90deg);
      }
    }
    .slider-button-next {
      .icon {
        transform: rotate(-90deg);
      }
    }
  }
}
.catalog__slider {  
  min-height: calc(var(--vh, 1vh) * 100);
  padding: 100px 0;
  &.tours {
    background-color: #d7ebe6;
  }
  &.hotels {
    background-color: #f9d4e4;
  }
  h2 {
    font: normal 72px/60px "Futura";
    color: #5ac0b0;
    perspective: 400px;
    margin-bottom: 50px;
    margin-left: 90px;
    span {
      display: inline-block;      
      transform-origin: bottom;
    }
  }
  .swiper-container {
    padding: 0 90px;
    position: relative;
    .slider-button-prev,
    .slider-button-next {
      position: absolute;
      top: calc(((33.333333333vw + 60px - 180px) * 1.13) / 2);
      transform: translateY(-50%);
      width: 80px;
      height: 80px;
      border: 1px solid $green;
      background-color: $green;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; 
      z-index: 3;
      transition: all 300ms ease;
      border: none;
      &.swiper-button-disabled {
        opacity: 0;
        .icon {
          fill: $white;
        }
      }
      i {            
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $white;
        transform: scale(0);            
        border-radius: 50%;
      }          
      .icon {
        fill: $white;
        width: 22px;
        height: 11px;
        z-index: 1;
      }
    }
    .slider-button-prev {      
      left: 5px;
      .icon {
        transform: rotate(90deg);
      }
    }
    .slider-button-next {      
      right: 5px;
      .icon {
        transform: rotate(-90deg);
      }
    }
  }  
  .swiper-slide {
    //width: calc(33.33333% - 60px);
    // margin-right: 60px;
    // margin-bottom: 60px;
    font-family: 'Futura';
    color: $black;
    position: relative;
    &.sell::after {
      content: "";
      display: block;
      width: 16.93%;
      padding-top: 22.5%;
      position: absolute;
      top: 0;
      right: 0;
      background: url('../img/sell.svg') no-repeat right top / contain;
    }
    .grid--photo {
      padding-top: 107.526%;
      position: relative;
      a {
        position: absolute;
        top: 0;          
        left: 0;
        width: 100%;
        height: 100%;
        img {          
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }        
    }
    .grid--location {
      margin-top: 27px;
      font-size: 16px;
    }
    .grid--hotel {
      font-size: 24px;
      font-weight: 300;
      margin-top: 10px;
    }
    .grid--info {
      margin-top: 20px;
      margin-bottom: 1vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .date {
        font-size: 16px;
      }
      .price {
        font-size: 24px;
      }
    }
  }
  .catalog__list_more {    
    margin-top: calc(100px - 1vw);
    margin-right: 90px;
    margin-bottom: -30px;
    margin-left: 90px;
    border-top: 1px solid #a3d6cc;
    text-align: center;    
    .btn-skew {
      width: 180px;
      transform: translateY(-50%);
    }
  }  
}
.leisure__calendar {
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: #d7ebe6;
  display: flex;
  align-items: center;
  position: relative;
  .wrapper {
    width: 50%;
    padding-left: 90px;
    h2 {
      font: normal 72px/60px "Futura";
      color: #5ac0b0;    
      perspective: 400px;
      margin-bottom: 50px;      
      text-transform: uppercase;
      perspective: 500px;
      span {
        display: inline-block;
        transform-origin: bottom;
      }
    }
    .leisure__calendar_text {
      font: 300 18px/30px "Futura";
      padding-left: 90px;
      padding-right: 90px;  
    }
    .btn-skew {
      width: 175px;
      margin-top: 35px;
      margin-left: 110px;    
    }
  }
  .leisure__calendar_bg {
    position: absolute;
    width: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    &>img {
      width: 100%;
    }
    .date {      
      position: absolute;
      overflow: hidden;
      will-change: transform;
      &::before {
        content: "";
        display: block;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 2.4vw;
        height: 2.2vw;
        z-index: 2;
      }
      img {
        width: 180%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -40%;
        object-fit: cover;
      }
      span {
        display: flex;
        justify-content: center;  
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 2.4vw;
        height: 2.2vw;
        font: 500 1.27vw/1 "Futura";
        color: $green;
        z-index: 3;
      }
      i {
        display: block;
        position: absolute;
        background-color: $white;
        width: 100%;
        height: 100%;
        z-index: 3;
      }
      &.date-3 {        
        top: -0.4vw;
        left: 26.39vw;
        width: 10.8vw;
        height: 11.94vw;
        transform: skewX(-35.2deg);
        img {          
          transform: skewX(35.2deg);
        }
        span {          
          transform: skewX(35.2deg);
        }
        i {
          transform-origin: right;
        }
      }
      &.date-8 {        
        top: 11vw;
        left: 3.75vw;
        width: 11vw;
        height: 11.94vw;        
        transform: skewX(35.2deg);
        img {          
          transform: skewX(-35.2deg);
        }
        span {          
          transform: skewX(-35.2deg);
        }
        i {
          transform-origin: left;
        }
      }
      &.date-17 {    
        top: 22.3vw;
        left: 26.1vw;
        width: 10.8vw;
        height: 11.94vw;
        transform: skewX(-35.2deg);
        img {          
          transform: skewX(35.2deg);
        }
        span {          
          transform: skewX(35.2deg);
        }
        i {
          transform-origin: right;
        }
      }
    }
  }
}


.leisure-questionaire {
  footer {
    display: none;
  }
  .breadcrumb {
    top: 130px;
    position: absolute;
    z-index: 1;
    color: $white;
    a {
      color: currentColor;
    }
  }
  .hero--wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    text-align: center;
    color: $white;
    z-index: 2;
    section {
      max-width: 900px;
      display: none;
      &.intro {
        display: block;
      }
    }
    h1 {      
      perspective: 500px;
      p {        
        font: normal 140px/120px "Futura";        
        transform-origin: bottom;
        margin: 0;        
      }
      span {
        display: inline-block;        
      }
    }
    p {
      font: normal 18px/36px "Futura";
      margin: 10px auto 40px auto;
    }
    .btn-skew {
      width: 180px;
    }
  }
  .btn-skew .background i {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.leisure-questionaire__hero {
  position: relative;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #000;
  overflow: hidden;
  canvas {    
    opacity: 0.8;
  }
  .breadcrumb {
    z-index: 6;
  }
  .hero--questions {
    visibility: hidden;
    position: absolute;
    left: -10000px;
    top: -10000px;
  }
  .leisure__hero_pagination {
    z-index: 1;
  }
  .hero-timer {
    font: normal 72px/60px "Futura";
    position: absolute;
    right: 90px;
    bottom: 90px;
    z-index: 1;
    color: $white;
    will-change: transform;
    span {
      display: inline-block;
    }
  }
  .hero--blinder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    visibility: hidden;
    padding: 90px;
    .blind-left {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 49%;
      background-color: $white;
      transform: skewX(-35deg) scaleX(0);
      transform-origin: left;
      z-index: 0;
    }
    .blind-right {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 49%;
      background-color: $white;
      transform: skewX(-35deg) scaleX(0);
      transform-origin: right;      
    }
    h1 {
      font: normal 140px/1 "Futura";
      color: $green;
      z-index: 1;
      perspective: 500px;
      span {
        display: inline-block;
        transform-origin: bottom;
      }
    }
    p {
      font-size: 18px;
      z-index: 1;
      margin: 50px 0;
    }
    .btn-skew {
      width: 180px;
    }
  }  
}