
<article class="get-in-touch">
  <div class="blind-left"></div>
  <div class="blind-right"></div>
  <a href="/" class="logo--black">
    <img data-src="./img/logo_avialiga-b.svg" alt="">
  </a>
  <a href="" class="close">
    {{mixins.icon('icon_close')}}				
  </a>
  <div class="wrapper">
    <section class="form">
      <form action="">
        <h2>
          <span>Send request</span>
        </h2>
        <div class="form--text">Lorem Ipsum is simply dummy text of the printing and typesetting lorem text industry.</div>
        <div class="form--row">
          <div class="form-control name">
            <input type="text" placeholder="Your Name">
          </div>
          <div class="form-control phone">
            <input type="text" placeholder="Your Phone">
          </div>
        </div>
        <div class="form--row">
          <section class="custom-select">            
						<div class="select--label">
							<span>Select type</span>
							<i>{{mixins.icon('icon_arrow_menu')}}</i>
						</div>
						<ul class="select--options">
							<li>
								<label class="custom-radio">
									<input type="radio" name="question-1">									
									<span>Use messanger</span>
								</label>
							</li>
							<li>
								<label class="custom-radio">
									<input type="radio" name="question-1">									
									<span>Use email</span>
								</label>
							</li>
							<li>
								<label class="custom-radio">
									<input type="radio" name="question-1">									
									<span>Use phone</span>
								</label>
							</li>
						</ul>
					</section>
          <div class="form-control nickname">
            <input type="text" placeholder="Your nickname">
          </div>
        </div>
        <div class="form-control comment">
          <textarea name="" placeholder="Your comment"></textarea>
        </div>
        <div class="form--submit">
          <button class="btn-skew">
            <div class="background"><i></i></div>
            <span>Submit</span>
          </button>
        </div>
      </form>
    </section>
    <section class="thank">
      <h2>
        <span>Thanks you.</span>
      </h2>
    </section>
  </div>  
</article>