.header__bg {
  top: 0;  
  left: 0;
  width: 100%;
  height: 130px;
  position: absolute;
  background-color: #fff;
  opacity: 0;
  z-index: 1;
}
header {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: center;
  position: absolute;  
  top: 0px;
  right: 0;
  left: 0;
  padding: 0 90px;
  z-index: 10;  
  font: 300 16px/1 $futura;
  
  
  .header__left,
  .header__right {
    display: flex;
    align-items: center;
  }
  .header__logo {
    width: 95px;
    height: 50px;
    margin-right: 65px;
    background: url('../img/logo_avialiga-w.svg') no-repeat center / cover;
    position: relative;
    z-index: 1;    
    a {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      &.logo--white {
        opacity: 1;
      }
      &.logo--black {
        opacity: 0;
      }
      &.logo--green {
        opacity: 0;
      }
    }
    img {
      width: 100%;
    }
  }
  .header__nav {
    display: flex;
    margin-top: 37px;
    .header__nav_link {
      margin-right: 55px;            
      &>a {
        position: relative;
        &::after {
          transition: all 600ms ease;
        }
      }
      &:hover {        
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 50px;
          left: 0;
          top: 100%;        
          position: absolute;
        }        
        &>a {          
          &::after {
            width: 100%;
            left: 0;
            right: initial;
          }          
        }        
      }      
      .submenu {
        position: absolute;
        visibility: hidden;
        width: 100%;                
        left: 0;
        top: 130px;
        padding: 60px 90px 30px 90px;        
        &::before {
          content: "";
          display: block;
          height: 50px;
          width: 100%;          
          position: absolute;
          left: 0;
          top: -50px;          
        }
        &.leisure {          
          background-color: $rose;          
        }
        &.business {          
          background-color: $swans;
        }
        &.more {          
          background-color: $white;
          padding: 90px;
          .row {
            margin-bottom: 0;
            justify-content: space-between;
            section {
              width: auto;  
            }
          }
        }
        .row {
          display: flex;          
          margin-bottom: 60px;          
          section {
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            a {
              margin-bottom: 25px;
              color: $black;
              display: inline-flex;
              align-items: center;
              position: relative;      
              transition: all 250ms ease;
              z-index: 1;
              &::after {
                content: "";
                width: 0%;
                height: 2px;
                background: $red;
                position: absolute;
                left: initial;
                right: 0;
                bottom: -8px;
                transition: all 250ms ease;
              }
              &:hover {
                &::after {
                  background-color: $black;
                  height: 1px;
                  width: 100%; 
                  left: 0;
                  right: initial;
                  z-index: 1;
                }
              }
              &.more {
                &::after {
                  background-color: $black;
                  height: 1px;
                  width: 100%; 
                  left: 0;
                  right: initial;
                  z-index: 1;
                }
                &:hover {
                  &::after {                   
                    width: 0%;
                    right: 0;
                    left: initial;
                  } 
                }
              }
              &:last-child {
                margin-bottom: 0;
              }
              &::after {
                background-color: $black;
                height: 1px;
              }
            }
          }
        }
      }      
    }
    a {
      display: inline-flex;
      align-items: center;
      position: relative;
      z-index: 1;
      &::after {
        content: "";
        width: 0%;
        height: 2px;
        background: $red;
        position: absolute;
        left: initial;
        right: 0;
        bottom: -8px;
        transition: all 250ms ease;
      }
      &:hover {
        
      }      
      &:last-child {
        margin-right: 0;
      }
      .icon {
        width: 12px;
        height: 6px;
        fill: $white;
        margin-left: 10px;        
      }
    }
  }
  .header__sub_nav {
    margin-top: 37px;
    position: relative;
    a {
      display: inline-flex;
      align-items: center;
      margin-right: 55px;
      &:last-child {
        margin-right: 0;
      }
      .icon {
        width: 12px;
        height: 6px;
        fill: $white;
        margin-left: 10px;
      }
    }
    .take-button {
      height: 40px;
      padding: 0 25px;
      display: inline-flex;
      align-items: center;
      position: relative;
      span {
        position: relative;
        z-index: 1;
      }
      i {
        display: block;
        width: 100%;
        height: 2px;
        background-color: $red;
        position: absolute;
        left: 0;
        bottom: 5px;        
      }      
    }
  }
  &.fixed {    
    position: fixed;
    background-color: $white;
    height: 100px;
    align-items: center;
    top: -100px;
    .header__logo {
      .logo--white {
        opacity: 0!important;
      }
      .logo--black {
        opacity: 1!important;
      }
    }
    .header__nav,
    .header__sub_nav {
      margin-top: 0;
    }
    .header__nav_link,
    .header__sub_nav {      
      &>a {
        color: $black;
        .icon {
          fill: $black;
        }
      }
      .submenu {
        top: 100px;
      }
    }
  }
  &.sub-active {    
    .header__sub_nav {
      position: relative;      
      &>a {
        color: $black;
        .icon {
          fill: $black;
        } 
      }
    }
  }
}
.catalog header {
  a {
    color: #5ac0b0;
  }
  .header__logo {
    a {
      &.logo--white {
        opacity: 0;
      }
      &.logo--black {
        opacity: 0;
      }
      &.logo--green {
        opacity: 1;
      }
    }    
  }  
  .header__nav,
  .header__sub_nav {
    a {
      .icon {
        fill: #5ac0b0;
      }      
    }
  }
  &.fixed {
    .header__nav_link,
    .header__sub_nav {
      & > a {
        color: #5ac0b0;
      }
    }    
  }
}