.icon-icon_arrow_menu {
  width: 2em;
  height: 1em;
  fill: initial;
}
.icon-icon_arrows {
  width: 2.8em;
  height: 1em;
  fill: initial;
}
.icon-icon_close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-icon_l2 {
  width: 2224390.17em;
  height: 1em;
  fill: initial;
}
.icon-icon_play {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
