.icon-icon_arrow_close {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.icon-icon_arrow_menu {
  width: 2em;
  height: 1em;
  fill: initial;
}
.icon-icon_arrows {
  width: 2.8em;
  height: 1em;
  fill: initial;
}
.icon-icon_card_01 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-icon_card_02 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-icon_card_03 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-icon_card_04 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-icon_card_05 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-icon_check {
  width: 1.5em;
  height: 1em;
  fill: initial;
}
.icon-icon_close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-icon_download {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-icon_l2 {
  width: 2224390.17em;
  height: 1em;
  fill: initial;
}
.icon-icon_map-marker {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-icon_play {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.icon-icon_radio-red {
  width: 1.5em;
  height: 1em;
  fill: initial;
}
